node_modules/
dist/
source-assets/*
!source-assets/README.md
.DS_Store
Thumbs.db
.vite/
.idea/
.vscode/
.env
.env.*
!.env.example
*.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
